{% extends "base.html" %}

{% block content %}
    Puzzle Size
    <form method="post">
        <input type="submit" value="Select size"></input>
        <select name="size" id="size">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </form>
    <h1>Puzzle</h1>
    <table>
        {% for y in range(size - 1) %}
            <tr>
                <td class="left" id ="{{ y }}-0"
                    onclick="addToCluster(this, {{ y }}, 0)"></td>

                {% for x in range(size - 1) %}
                    <td id ="{{ y }}-{{ x + 1 }}"
                        onclick="addToCluster(this, {{y}}, {{x+1}})"></td>

                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td class="left bottom" id ="{{ size-1 }}-0"
                onclick="addToCluster(this, {{size - 1}}, 0)"></td>

            {% for x in range(size - 1) %}
                <td class="bottom" id = "{{ size - 1 }}{{ x + 1 }}"
                    onclick="addToCluster(this, {{size-1}}, {{x+1}})"></td>

            {% endfor %}
        </tr>
    </table>
    <input type="number" id="num"></input>
    <select name="operator" id="op">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="/">/</option>
        <option value="*">*</option>
        <option value="=">=</option>
    </select>
    <form action="#" onclick="commitCluster()">
        <input type="button" value="Select operator and total value"></input>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type="text/javascript" src="../static/kenken.js"></script>

{% endblock %}
